<div class="jumbotron center"> <!-- This makes a grey background, it's really nice. the center in here makes everything centered -->

	<h1>Welcome to &MP</h1>

	<% if user_signed_in? %>
		Welcome! You are signed in!
	<% else %>


	<p>The easiest way to save the places and events you want to visit in the future</p>

	<p>
		<%= link_to"Log in", new_user_session_path, class: "btn btn-default" %>
		<%= link_to"Sign up", new_user_registration_path, class: "btn btn-primary" %>
	</p>

	<% end %>
</div>
