<h1 class="bigtitle">About Us</h1>
<p>Working on one month rails pinteresting app. I love cats, so you will see many of them here</p>

<!-- <input class="userinputtext">  -->
<!-- Input puts a text box (single line). A text area would have multiple lines -->
<!-- This is the one for multiple lines: <textarea> </textarea> -->

<div class="container center">
  <div class="row">

   <div class="col-sm-12 image1">
      <img src="http://placekitten.com/700/300" alt="">
    </div>

   <div class="col-sm-12 image2">
      <img src="http://placekitten.com/699/300" alt="">
    </div>

   <div class="col-sm-12 image3">
      <img src="http://placekitten.com/701/300" alt="">
    </div>

   <div class="col-sm-12 image4">
      <img src="http://placekitten.com/850/300" alt="">
   </div>

   <div class="col-sm-12 image5">
      <img src="http://25.media.tumblr.com/tumblr_m2ntjxNdhK1ru4tdpo1_500.jpg" alt="">
   </div>

   <div class="col-sm-12 image6"> 
      <img src="http://www.kasyallen.com/wp-content/uploads/2013/07/bread-cat-bread-cat-97769014840.jpeg" alt="">
   </div>

   <div class="col-sm-12 image7">
     <img src="http://www.wendywilkersonphotography.com/Daily-Photos/Daily-Photos-2009/DSC4084edit/686463109_yBzsN-L.jpg" alt="">
   </div>

   <div class="col-sm-12 image8">
     <img src="http://naturalpetrecipes.com/wp-content/uploads/2013/03/Kitten6-850x636.png" alt="">
   </div>

   <div class="col-sm-12 image9">
     <img src="http://cdnpix.com/show/imgs/eda956faf0ec6be577bf65c57dba8ede.jpg" alt="">
   </div>

   <div class="col-sm-12 image10">
     <img src="http://media-cache-ec0.pinimg.com/236x/d8/1f/18/d81f189350968f5928edcfc12fdff18c.jpg" alt="">
   </div>

</div>

<p>
</p>
<!-- This is adding buttons -->
  <div class="container buttons center"> 
    <div class="row">
      <div class="btn-group">
        <button class="prev btn btn-default"> Prev </button>
        <button class="reset btn btn-danger"> Reset </button>
        <button class="next btn btn-default"> Next </button>
      </div>
    </div>
  </div>


  


