<h1 class="bigtitle">Contact Us</h1>

  <h2>Ariana Alisjahbana</h2>
  <p>arianaalisjahbana@gmail.com</p>

  <h2>Stan Bradbury</h2>
  <p>bradbury@gmail.com</p>

  <h2>Freddie Iboy</h2>
  <p>freddieiboy@gmail.com</p>

  J<h2>John Hong</h2>
  <p>jkhong3@hotmail.com</p>