<div class="jumbotron"> <!-- This makes a grey background, it's really nice -->

	<h1>Hello! Welcome Home</h1>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p> <!-- btn makes it into a button! -->
</div>